<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <fasterpay>
                <active>1</active>
                <model>Fasterpay\Fasterpay\Model\Fasterpay</model>
                <order_status>pending_payment</order_status>
                <title>FasterPay</title>
                <allowspecific>0</allowspecific>
            </fasterpay>
        </payment>
    </default>
</config>
